<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razor Fun</title>
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>
<body>
    <div class="container">

    <h1>Here is a view!</h1>
    @{
        List<string> Names = ["Bob","Alice","Alex"];
        <p>@Names[0]</p>
    }

    @foreach (string name in Names)
    {
        if (name == "Alice")
        {
            <img src="~/img/cake.jpg" alt="a cake for alice">
            <p>Here comes my favorite user:</p>
        }
        <p>@(name + " Lastname")</p>
    }
    </div>
</body>
</html>